.si-form-container {

}

.si-form-container .si-editable-row {

}

.si-form-container .si-editable-row form .si-field {
	display: inline-block;
	margin: 0 30px 0 0;
}

.si-form-container .si-editable-row form .si-field label {
	display: block;
	font-style: italic;
	font-size: 0.8em;
}


